<mat-sidenav-container class="container">
  <mat-sidenav-content>
    <div class="app-navbar">
      <nav class="navbar-header">
        <button mat-icon-button color="accent">
          <mat-icon>memory</mat-icon>
        </button>
        <h1 style="margin: 0 0 0 10px;">
          Grover experiment
        </h1>
        <div class="flex-spacer"></div>
      </nav>
    </div>

    <mat-drawer-container class="app">
      <mat-drawer-content class="app-content">
        <section>
          <mat-card>
            <mat-card-content>
              <h2 class="example-h2">Configuration</h2>
              <div class="input-list">
                <mat-form-field appearance="outline" class="input-form">
                  <mat-label>N</mat-label>
                  <input matInput type="number" [formControl]="n">
                  <mat-icon matSuffix>straighten</mat-icon>
                  <mat-error>N is required and must be between 2 and 4096 and must be a power of two like: 1, 2, 4, 8 ...</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="input-form">
                  <mat-label>Target</mat-label>
                  <input matInput type="number" [formControl]="target">
                  <mat-icon matSuffix>track_changes</mat-icon>
                  <mat-error>Target is required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="input-form">
                  <mat-label>Target Hash</mat-label>
                  <input matInput [formControl]="hash">
                </mat-form-field>
              </div>
              <div class="footer">
                <h2 class="example-h2">Experiment</h2>
                <button mat-raised-button color="accent" (click)="run()" [disabled]="n.invalid || target.invalid">
                  <mat-icon inline=true>play_arrow</mat-icon>
                  Run all
                </button>
              </div>
            </mat-card-content>
          </mat-card>

          <div class="experiment">
            <div class="experiment-content">
              <mat-accordion class="experiment-result">

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-spinner *ngIf="isClassicalRun" style="margin-right: 6px;" color="accent" mode="indeterminate"
                        diameter="16"></mat-spinner>
                      Classical
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="result">
                    <mat-form-field appearance="fill" class="result-form">
                      <mat-label>Solve Time (seconds)</mat-label>
                      <input matInput [formControl]="classicalTime">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="result-form">
                      <mat-label>Result</mat-label>
                      <input matInput [formControl]="classicalResult">
                    </mat-form-field>
                    <button mat-raised-button color="accent" *ngIf="!isClassicalRun" (click)="runClassical()" [disabled]="n.invalid || target.invalid">
                      <mat-icon inline=true>play_arrow</mat-icon>
                    </button>
                  </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-spinner *ngIf="isQuantumLocalRun" style="margin-right: 6px;" color="accent" mode="indeterminate"
                        diameter="16"></mat-spinner>
                        Quantum Simulator Local
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="result">
                    <mat-form-field appearance="fill" class="result-form">
                      <mat-label>Solve Time (seconds)</mat-label>
                      <input matInput [formControl]="localTime">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="result-form">
                      <mat-label>Best Result</mat-label>
                      <input matInput [formControl]="localResult">
                    </mat-form-field>
                    <google-chart #chart *ngIf="localMeasurements.length != 0"
                      [type]="type"
                      [data]="localMeasurements"
                      [options]="options"
                      [width]="width"
                      [height]="height">
                    </google-chart>
                    <button mat-raised-button color="accent" *ngIf="!isQuantumLocalRun" (click)="runQuantumLocal()" [disabled]="n.invalid || target.invalid">
                      <mat-icon inline=true>play_arrow</mat-icon>
                    </button>
                  </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-spinner *ngIf="isQuantumSimulatorRun" style="margin-right: 6px;" color="accent" mode="indeterminate"
                        diameter="16"></mat-spinner>
                        Quantum Simulator Remote
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="result">
                    <mat-form-field appearance="fill" class="result-form">
                      <mat-label>Solve Time (seconds)</mat-label>
                      <input matInput [formControl]="simulatorTime">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="result-form">
                      <mat-label>Best Result</mat-label>
                      <input matInput [formControl]="simulatorResult">
                    </mat-form-field>
                    <google-chart #chart *ngIf="simulatorMeasurements.length != 0"
                      [type]="type"
                      [data]="simulatorMeasurements"
                      [options]="options"
                      [width]="width"
                      [height]="height">
                    </google-chart>
                    <button mat-raised-button color="accent" *ngIf="!isQuantumSimulatorRun" (click)="runQuantumSimulator()" [disabled]="n.invalid || target.invalid">
                      <mat-icon inline=true>play_arrow</mat-icon>
                    </button>
                  </div>

                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-spinner *ngIf="isQuantumRealRun" style="margin-right: 6px;" color="accent" mode="indeterminate"
                        diameter="16"></mat-spinner>
                        Quantum Real
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="result">
                    <mat-form-field appearance="fill" class="result-form">
                      <mat-label>Solve Time (seconds)</mat-label>
                      <input matInput [formControl]="realTime">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="result-form">
                      <mat-label>Best Result</mat-label>
                      <input matInput [formControl]="realResult">
                    </mat-form-field>
                    <google-chart #chart *ngIf="realMeasurements.length != 0"
                      [type]="type"
                      [data]="realMeasurements"
                      [options]="options"
                      [width]="width"
                      [height]="height">
                    </google-chart>
                    <button mat-raised-button color="accent" *ngIf="!isQuantumRealRun" (click)="runQuantumReal()" [disabled]="n.invalid || target.invalid">
                      <mat-icon inline=true>play_arrow</mat-icon>
                    </button>
                  </div>

                </mat-expansion-panel>

              </mat-accordion>
            </div>
          </div>
        </section>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-sidenav-content>
</mat-sidenav-container>