@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Pangolin, cursive'
);

@include mat-base-typography($custom-typography);
@include mat-checkbox-typography($custom-typography);
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Pangolin', cursive;
}